.category-list-container {

  keep-container(false, 0, 0, 2rem, 0)
  //background: rgba(255,255,255,0.9)

  .category-list-content {

    .all-category-list {

      & > .all-category-list-item > .all-category-list-link {
        font-size 1.1rem
      }

      li.all-category-list-item {
        margin-bottom 1rem
        font-size 1rem

        &:last-child {
          margin-bottom 0
        }

        span.all-category-list-count {
          float right
          color var(--text-color-3)


          &::before {
            content '['
          }

          &::after {
            content ']'
          }
        }


        ul.all-category-list-child {
          margin-top 1rem

          margin-left 0.9rem

          li {

            &::before {
              content '- '
            }

            margin-bottom 0.9rem

            &:last-child {
              margin-bottom 0
            }
          }
        }
      }
    }
  }
}

/* 使文章背景框能够更具明暗模式自动切换颜色*/
.light-mode .category-list-container {
    background-color: rgba(255, 255, 255, 0.9)
}
.dark-mode .category-list-container {
    background-color: rgba(30, 30, 30, 0.9)
}